version: "3"

services:
  database:
    image: mysql
    container_name: hamkkebu-boilerplate-db
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_HOST=%
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - ./db/hamkkebu/boilerplate/data:/var/lib/mysql
    networks:
      - hamkkebu-boilerplate-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: hamkkebu-boilerplate-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://database:3306/
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    restart: always
    depends_on:
      - database
    links:
      - database
    networks:
      - hamkkebu-boilerplate-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: hamkkebu-boilerplate-frontend
    ports:
      - "80:80"
    restart: always
    depends_on:
      - backend
    links:
      - backend
    networks:
      - hamkkebu-boilerplate-network

networks:
  hamkkebu-boilerplate-network: