apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  namespace: hamkkebu
  labels:
    app: zookeeper
spec:
  ports:
    - port: 2181
      name: client
  selector:
    app: zookeeper
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zookeeper
  namespace: hamkkebu
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zookeeper
  template:
    metadata:
      labels:
        app: zookeeper
    spec:
      containers:
        - name: zookeeper
          image: arm64v8/zookeeper:3.9
          ports:
            - containerPort: 2181
          env:
            - name: ZOO_4LW_COMMANDS_WHITELIST
              value: "*"
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "250m"
